div section {
    margin-top: 20px;
    margin-bottom: 20px;
}

div section:nth-child(1) {
    float: left;
    font-weight: bolder;
    font-size: larger;
}

table {
    text-align: center;
    margin-left: 40%;
    width: 25%;
    border-collapse: collapse;
}

td~td {
    border: 2px solid;
    padding: 25px 50px;
}

td~td:hover {
    background-color:#42BFF0;
    color: whitesmoke;
    cursor: pointer;
}

.plan {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    letter-spacing: .2em;
    padding-left: 25px;
}

.row {
    text-align: right;
    padding-right: 10px;
}

form input {
    margin-bottom: 10px;
    display: block;
}